.center{
    text-align: center;
}

.containerCls{
    margin: 2%;
    padding: 3%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.6);
}

.margin{
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
} 
.margin3{
    padding: 10px;
    margin: 20px;
}



.flexCls{
    display: flex;
    justify-content: flex-end;
}
.btncls{
    width: 70%;
}

i{
    cursor: pointer;
}

th,tr{
    width:-10%;
}

.buttonCls{
    margin: 2px;
 }

 input{
     height: 30px;
     border: 5px;
     width: 50%;
 }

 .selectCls,input{
    background-color: #e3e3e3;
 }

.selectCls{
    border-color : darkviolet;
    border-radius: 5px;
    padding: 5px;
}
.col-md-8{
    text-align: right;
}

.modal-footer,.modal-header{
    background-color:navajowhite;
}

@media only screen and (max-width: 500px){
    .col-6 {width: 150%;}
}