
<div class="container containerCls">
    
  <div class="center">
    <h2><b>Task List</b></h2>
        <div class="row  margin3">
            
            <!-- <div class="col-6 col-sm-1 col-md-1"></div> -->
            <div class="col-6 col-sm-3 col-md-3">Select Status
              <div class="dropdown">
                <button type="button" class="btn btn-outline-dark btncls dropdown-toggle" data-toggle="dropdown">
                  {{statusFilter}}
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="onchange2('All')" value="all">All</a>
                  <a class="dropdown-item" (click)="onchange2('Backlog')"  value="back">Backlog</a>
                  <a class="dropdown-item" (click)="onchange2('In-Progress')"  value="in-progress">In-progress</a>
                  <a class="dropdown-item" (click)="onchange2('Done')" value="done">Done</a>
                </div>
              
             </div>
            
            </div>
            <div class="col-0 col-sm-1 col-md-1"></div>
              <div class="col-10 col-sm-8 col-md-8">
                <span class="margin">Task To Do</span>
                <input type="text"  #box placeholder="Add task..">
                <button type="button" (click)="addTask(box.value)" class="btn btn-primary margin">
                  New Task
                </button>
                                      
            
            </div>
                       
        </div>

    </div>
    
    <table class="table center">
      <thead>
        <tr class="thead-light">
          <th>ID</th>
          <th>Description</th>
          <th>Task status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos | filter:statusFilter ;let i=index">
          <td>{{i+1}}</td>
          <td>{{todo.description}}</td>
          <td>
           <select (change)="onchange($event.target.value,i)" class="selectCls">
             <option value="backlog" [selected]="todo.status=='backlog'">Backlog</option>
             <option value="in-progress" [selected]="todo.status=='in-progress'">In-progress</option>
             <option value="done" [selected]="todo.status=='done'">Done</option>
           </select>
          </td>
          <td>
            <button class="btn btn-success buttonCls">
              <i class='fas fa-edit' style="color:#fff"
              type="button" data-toggle="modal" (click)="edit(i)" data-target="#myModal"></i>
            </button>

            <button class="btn btn-danger">
              <i class='fas fa-trash-alt' style="color:#fff" (click)="delete(i)"></i>
            </button>
            
          </td>
  
        </tr>
      </tbody>
    </table>

            <!--Model  -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
            
              <div class="modal-header">
                <h4 class="modal-title">Edit Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <label>Description : &nbsp;</label>
                <input type="text" placeholder=" Add Description" [(ngModel)]="updatedVal">
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-warning"
                 (click)="update(idts,updatedVal)" data-dismiss="modal">Update</button>
                </div>
              
            </div>
          </div>
         </div>
      
        
        
  </div>
  