<!-- <p>todo-list works!</p> -->
<h1 class="center">To-Do Application</h1>

<div class="container containerCls">
    
  <div class="center">

        <div class="row  margin2">
            
            <div class="col-sm-2"><b>Task List</b></div>
            <div class="col-sm-2">Select Status
              <div class="dropdown">
                <button type="button"  class="btn btn-outline-info btncls dropdown-toggle" data-toggle="dropdown">
                  All
                </button>
                <div class="dropdown-menu" (click)="onchange2($event.target.value)">
                  <a class="dropdown-item" href="#" value="back">Backlog</a>
                  <a class="dropdown-item" href="#" value="in-progress">In-progress</a>
                  <a class="dropdown-item" href="#" value="done">Done</a>
                </div>
              
             </div>
            
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7">
                <span class="center">Add Task</span>
                <input type="text" placeholder="Add task.." #box style="width: 65%;">
                <button type="button" (click)="addTask(box.value)" class="btn btn-outline-primary margin">
                  New Task
                </button>
            </div>                           
                       
        </div>

    </div>
    
    <table class="table center">
      <thead>
        <tr class="thead-light">
          <th>ID</th>
          <!-- <th>Title</th> -->
          <th>Description</th>
          <th>Task status</th>
          <th>Edit Task</th>
          <!-- <th>Delete Task</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos;let i=index">
          <td>{{i+1}}</td>
          <!-- <td>{{todo.title}}</td> -->
          <td>{{todo.description}}</td>
          <td>
            <!-- {{todo.status}} -->
           <select (change)="onchange($event.target.value)" class="selectCls">
             <option value="backlog">Backlog</option>
             <option value="in-progress">In-progress</option>
             <option value="done">Done</option>
           </select>
          </td>
          <td>
            <button class="btn btn-success buttonCls">
              <i class='fas fa-edit' style="color:#fff"
              type="button" data-toggle="modal" (click)="edit(i)" data-target="#myModal"></i>
            </button>

            <button class="btn btn-danger">
              <i class='fas fa-trash-alt' style="color:#fff" (click)="delete(i)"></i>
            </button>
            
          </td>
  
        </tr>
      </tbody>
    </table>

            <!--Model  -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
            
              <div class="modal-header">
                <h4 class="modal-title">Edit Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <label>Description</label>
                <input type="text" placeholder="description" [(ngModel)]="updatedVal">
                <!-- <button type="button" class="btn btn-warning margin2" (click)="update(idts)">Update</button> -->
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-warning margin2" (click)="update(idts)">Update</button>
                </div>
              
            </div>
          </div>
         </div>
      
        
        
  </div>
  