.center{
    margin:15px;
    text-align: center;
}

.containerCls{
    margin: 2%;
    /* background-color:#e3e3e3; */
}

.margin{
    padding: 5px;
    margin: 5px;
}
.margin2{
    padding: 5px;
    margin: 10px;
}

input{
    height: 60%;
    /* border-radius: 5px; */
}

.btncls{
    width: 70%;
}

i{
    cursor: pointer;
}


.buttonCls{
    /* border: none; */
    margin: 2px;
    /* padding: 7px; */
    /* background-color: darkcyan; */
}

.selectCls{
    border-color : darkviolet;
    border-radius: 5px;
    padding: 5px;
}